@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11151c;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 3rem;
    color: #eee;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.2rem;
    color: #4e4d4d;
    margin: 0;
}

#branding {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
}

#branding span {
    margin-left: -4.2rem;
    margin-bottom: -4.5rem;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

input {
    flex-grow: 2;
    padding: 0.5rem;
    font-size: 1rem;
    margin-right: 0.5rem;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #364156;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background-color: #445678;
    transform: scale(1.04);
}

#shortURLResult {
    text-align: center;
    margin-top: 20px;
}

a:link {
    color: #eee;
}